<style>
/* PRINT */

div.MathJax_Display {padding: 40px}
div.input_area  { padding:10px; }
.rendered_html p{ text-align: left }
div.input_area>div.highlight  { padding:10px; }

/* FONT_CODE */
.input_area pre { font-size:12px; }

/* FONT_TEXT */
div.text_cell_render { font-size:24px; text-align: left; line-height: 140% }

/* FONT_QUOTE */
div.text_cell_render pre { font-size:14px; line-height: 120% }

/* BACKGROUND */
div .input_area { background-color:#333333;}
blockquote { background-color: #FFFF66; }

/* BUILTIN */
.input_area .highlight .bp { color: #CD5C5C } /* Name.Builtin.Pseudo */

/* KEYWORD */
.input_area .highlight .k { color: #F0E68C; font-weight: bold } /* Keyword */
.input_area .highlight .kc { color: #F0E68C; font-weight: bold } /* Keyword.Constant */
.input_area .highlight .kd { color: #F0E68C; font-weight: bold } /* Keyword.Declaration */
.input_area .highlight .kn { color: #F0E68C; font-weight: bold } /* Keyword.Namespace */
.input_area .highlight .kp { color: #F0E68C; font-weight: bold } /* Keyword.Pseudo */
.input_area .highlight .kr { color: #F0E68C; font-weight: bold } /* Keyword.Reserved */
.input_area .highlight .kt { color: #F0E68C; font-weight: bold } /* Keyword.Type */
.input_area .highlight .ow { color: #F0E68C; font-weight: bold } /* Operator.Word */

/* VARIABLE */
.input_area .highlight pre { color: #FFFFFF }
.input_area .highlight .n { color: #FFFFFF } /* Name.Variable */
.input_area .highlight .nv { color: #FFFFFF } /* Name.Variable */
.input_area .highlight .na { color: #FFFFFF } /* Name.Attribute */
.input_area .highlight .no { color: #FFFFFF } /* Name.Constant */
.input_area .highlight .nl { color: #FFFFFF } /* Name.Label */

/* FUNCTION */
.input_area .highlight .nb { color: #BDB76B } /* Name.Builtin */
.input_area .highlight .nf { color: #BDB76B } /* Name.Function */
.input_area .highlight .vc { color: #BDB76B } /* Name.Variable.Class */
.input_area .highlight .vg { color: #BDB76B } /* Name.Variable.Global */
.input_area .highlight .vi { color: #BDB76B } /* Name.Variable.Instance */
.input_area .highlight .nc { color: #BDB76B } /* Name.Class */
.input_area .highlight .ni { color: #BDB76B } /* Name.Entity */
.input_area .highlight .ne { color: #BDB76B } /* Name.Exception */
.input_area .highlight .nn { color: #BDB76B } /* Name.Namespace */
.input_area .highlight .nt { color: #BDB76B } /* Name.Tag */



/* OPERATOR */
.input_area .highlight .o { color: #FFFFFF; font-weight:bold } /* Operator */
.input_area .highlight .p { color: #FFFFFF; font-weight:bold } /* Operator */


/* DECORATOR */
.input_area .highlight .nd { color: #BDB76B } /* Name.Decorator */


/* COMMENT */
.input_area .highlight .c { color: #87CEEB; font-style: italic } /* Comment */
.input_area .highlight .cm { color: #87CEEB; font-style: italic } /* Comment.Multiline */
.input_area .highlight .cp { color: #87CEEB; } /* Comment.Preproc */
.input_area .highlight .c1 { color: #87CEEB; font-style: italic } /* Comment.Single */
.input_area .highlight .cs { color: #87CEEB; font-style: italic } /* Comment.Special */


/* NUMBER */
.input_area .highlight .mb { color: #98FB98 } /* Literal.Number.Bin */
.input_area .highlight .mf { color: #98FB98 } /* Literal.Number.Float */
.input_area .highlight .mh { color: #98FB98 } /* Literal.Number.Hex */
.input_area .highlight .mi { color: #98FB98 } /* Literal.Number.Integer */
.input_area .highlight .mo { color: #98FB98 } /* Literal.Number.Oct */
.input_area .highlight .m { color: #98FB98 } /* Literal.Number */
.input_area .highlight .il { color: #98FB98 } /* Literal.Number.Integer.Long */

/* STRING */
.input_area .highlight .s { color: #FFA0A0 } /* Literal.String */
.input_area .highlight .w { color: #FFA0A0 } /* Text.Whitespace */
.input_area .highlight .sb { color: #FFA0A0 } /* Literal.String.Backtick */
.input_area .highlight .sc { color: #FFA0A0 } /* Literal.String.Char */
.input_area .highlight .sd { color: #FFA0A0; font-style: italic } /* Literal.String.Doc */
.input_area .highlight .s2 { color: #FFA0A0 } /* Literal.String.Double */
.input_area .highlight .se { color: #FFA0A0; font-weight: bold } /* Literal.String.Escape */
.input_area .highlight .sh { color: #FFA0A0 } /* Literal.String.Heredoc */
.input_area .highlight .si { color: #FFA0A0; font-weight: bold } /* Literal.String.Interpol */
.input_area .highlight .sx { color: #FFA0A0 } /* Literal.String.Other */
.input_area .highlight .sr { color: #FFA0A0 } /* Literal.String.Regex */
.input_area .highlight .s1 { color: #FFA0A0 } /* Literal.String.Single */
.input_area .highlight .ss { color: #FFA0A0 } /* Literal.String.Symbol */



/********************************************************************************/
/********************************************************************************/

/* JUPYTER */

/* FONT_EDIT */
.cm-s-default span { font-size:24px; line-height:120% }

/* BACKGROUND_EDIT */
div .cm-s-default { background-color: #dddddd;}

/* CURSOR */
.input_area .CodeMirror div.CodeMirror-cursor { border-left: 5px solid #FFFFFF; }
.input_area .CodeMirror div.CodeMirror-secondarycursor { border-left: 5px solid #FFFFFF;}
.input_area .CodeMirror.cm-fat-cursor div.CodeMirror-cursor { background: #FFFFFF;}
.input_area .cm-animate-fat-cursor { background-color: #FFFFFF; }

/* BUILTIN */
.input_area .cm-s-ipython span.cm-builtin { color: #CD5C5C } 
.input_area .cm-s-ipython span.cm-variable-2 { color: #CD5C5C } 
.input_area .cm-s-ipython span.cm-variable-3 { color: #CD5C5C } 

/* KEYWORD */
.input_area .cm-s-ipython span.cm-keyword { color: #F0E68C; font-weight:700 } 

/* VARIABLE */
.input_area span.cm-variable { color: #FFFFFF } 
.input_area span.cm-def { color: #FFFFFF } 


/* OPERATOR */
.input_area .cm-s-ipython span.cm-operator { color: #FFFFFF; font-weight:700 } 
.input_area .cm-s-ipython span { color: #FFFFFF; font-weight:700 } 

/* DECORATOR */
.input_area .cm-s-ipython span.cm-meta { color: #BDB76B } 

/* COMMENT */
.input_area .cm-s-ipython span.cm-comment { color:#87CEEB; font-style:italic } 

/* NUMBER */
.input_area .cm-s-ipython span.cm-number { color: #98FB98 } 

/* STRING */
.input_area .cm-s-ipython span.cm-string { color: #FFA0A0 } 
.input_area .cm-s-ipython span.cm-string-2 { color: #FFA0A0 } 

</style>



